<section id="ourServices" class="">
  <div class="container-md ps-sm-5 ps-md-0">
    <!-- border -->
    <div class="row ms-md-3">
      <div *ngFor="let service of services"
        class="col-lg-3 col-6 d-flex justify-content-lg-center justify-content-start">
        <!-- border-end pt-2 -->
        <div class="d-flex justify-content-center">
          <i class="{{service.icon}} fs-1 fw-bold AccentColorText me-3"></i>
          <div class="text">
            <h5 class="fw-semibold">{{service.title}}</h5>
            <p class="fw-lighter Typography">{{service.dec}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
