section{
  .overlay-text {
    top: 10%; /* Adjust vertical position */
    left: 5%; /* Adjust horizontal position */
    font-size: 14px; /* Adjust font size */
  }
}

#newArrivals , #ourInsta{
  margin: 4rem 0rem;
}

.overlay{
  background-color: rgb(197, 169, 132);
  opacity: 0;
  transition: .3s;
  &:hover {
    opacity: 80%;
  }
}
