section{
  .overlay-text {
    top: 10%; /* Adjust vertical position */
    left: 5%; /* Adjust horizontal position */
    font-size: 14px; /* Adjust font size */
  }
  .sec2Main{
    @media (max-width: 992px) and (min-width: 768px) {
      width: 100% !important;
     }
  }
}

#newArrivals , #ourInsta{
  margin: 4rem 0rem;
  img{
    @media (max-width: 576px) {
      width: 100% !important;
    }
  }
}

.overlay{
  background-color: rgb(35, 35, 34);
  color: white;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
  &:hover {
    opacity: 80%;
  }
}
